<div class="row" (window:resize)="onResize($event)">
    <div class="col-md-6" id="div1" >
        <div class="form-group">
            <h3>Input</h3>
            <textarea #ipData class="form-control" (keyup)="clicked=false;" id="exampleFormControlTextarea1" [rows]="rowsVal" [(ngModel)]="input"></textarea>
          </div>
          <button [disabled]="clicked" id="btnProcess" type="button" class="btn btn-success btn-lg" (click)="getData()">Process</button>
    </div>
    <div *ngIf = "output.length" class="col-md-6" id="div3">
        <h3>Output</h3>
        <textarea class="form-control" [innerHtml]="output|json" id="exampleFormControlTextarea1" [rows]="rowsVal" readonly></textarea>
    </div>
    <div *ngIf = "!output.length" class="col-md-6" id="div4">
        <h3 *ngIf ="clicked && !input.length">Please provide Data !</h3>
        <h3 *ngIf ="clicked && input.length">Not a valid JSON !</h3>
        <h3 *ngIf ="!clicked">Output will appear here<br/>Please provide input!</h3>
    </div>
</div>
