<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/assignment1">
    Cactus
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/assignment1" routerlinkActive="active">Assignment 1</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/assignment2" >Assignment 2</a>
      </li>
    </ul>
  </div>
</nav>

<div id="mainView" class="container-fluid">
  <router-outlet></router-outlet>
</div>